@import "_mixin.scss";
@import"_function.scss";

$color:#f88;
body{
    background: $color - 10;
    color: #fff;
}
// @mixin transform {
//     -webkit-transform: rotate(60deg);
//     -ms-transform: rotate((60deg));
//     -moz-transform: rotate((60deg));
//     transform: rotate((60deg));
    
// }

// $rootsize:16px;

// @function Torem($px){
//     @return ($px/$rootsize)*1rem;

// }
.box{
    width:100px;
    height: 100px;
    float: left;
    background: yellowgreen;
    @include transform(rotate(20deg));
    @include  transition;
    span{
        color: red;
    }

    //&:表示本身；.box;
    &:hover{
        @include transform(rotate(180deg));
        @include  transition;
    }
}

.box2{
    float: left;
    width:Torem(100px);
    height: Torem(100px);
    background: yellow;
    @include transform(rotate(60deg));
    @include  transition;
    span{
        color: red;
    }
}
.box3{
    float: left;
    width:Torem(100px);
    height: Torem(100px);
    background: rgb(175, 99, 238);
    @include transform(rotate(60deg));
    @include  transition;
    span{
        color: red;
    }
}
// @mixin 创建   
// @include 引入

//sass里面的数组，复合变量；

//下标从1开始
// $list: 10px 40px;
// .box{
//     span{
//         font-size: nth($list,2);
//     }
// }

//复杂数组：
    $list : (box1 10px)(box2 20px)(box3 30px);

    @each $a,$b in $list{
        .#{$a}{
            font-size:#{$b}
        }
    }


//  @at-root  跳出包裹；
.box3{
    span{
        color: #fff;
        @at-root .box3{
           
            background: orangered
        }
    }
}
//@extend继承  .box2继承.box的样式
.box2{
    @extend .box
}